#slide {
    position: relative;
    padding: 10px;
    box-shadow: 0px 0px 10px #c3c4c5;
    margin: 50px auto;
}
#slide2 {
    position: relative;
    padding: 10px;
    box-shadow: 0px 0px 10px #c3c4c5;
    margin: 50px auto;
}
.title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    height: auto;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    width: 930px;
}
.button {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 30px;
    width: 20px;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    border-radius: 40px;
}
.button:hover {
    background-color: rgba(0,0,0,0.7);
}
.button-left {
    left: 20px;
    padding: 10px 15px 10px 15px;
}
.button-right {
    right: 20px;
    padding: 10px 10px 10px 20px;
}
.button-inner {
    height: 0px;
    width: 0px;
    font-size:0px;
    line-height:0px;
    border-bottom:15px solid transparent;  /* left arrow slant */
    border-top:15px solid transparent; /* right arrow slant */
}
.button-left .button-inner {
    border-right:15px solid rgba(255,255,255,0.5); /* bottom, add background color here */
}
.button-right .button-inner {
    border-left:15px solid rgba(255,255,255,0.5); /* bottom, add background color here */
}
.nav-wrap {
    position: absolute;
    top: 10px;
    right: 20px;
    list-style: none inside none;
    z-index: 100;
}
.nav {
    display: inline-block;
    float: left;
    padding: 5px;
    margin: 0px 3px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    cursor: default;
    color: #ddd;
}
.nav.nav-current {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    }
.nav.nav-startstop {
    width:30px;
}
.timerWrap {
    position: relative;
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgba(200,200,200,0.5);
}
.timerContent {
    background-color: rgba(100,100,100,0.5);
    height: 5px;
    width: 0%;
}