/* Fullscreen body */
body.dataslider-fullscreen {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
}
/* Slideshow Placeholder */
.slider-root {
    position: relative;
    padding: 10px;
    box-shadow: 0px 0px 10px #c3c4c5;
    margin: 20px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.33;
    font-weight: 300;
}
.dataslider-fullscreen .slider-root {
    margin: 0px 0px;
    padding: 0px 0px;
    box-shadow: none;
}
.slider-wrap {
    position: relative;
    display: block;
    float: left;
}
/* Move title to the right position */
.title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 8px 2%;
    height: auto;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    width: 96%;
}
/* Buttons */
.button {
    display: none;
    position: absolute;
    top: 60px;
    height: 30px;
    width: 20px;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    border-radius: 40px;
}
.button:hover {
    background-color: rgba(0,0,0,0.7);
}
.button-left {
    left: 20px;
    padding: 10px 15px 10px 15px;
}
.button-left.button-thumb-left {
    left: 175px;
}
.button-right {
    right: 20px;
    padding: 10px 10px 10px 20px;
}
.button-right.button-thumb-right {
    right: 175px;
}
.button-inner {
    height: 0px;
    width: 0px;
    font-size:0px;
    line-height:0px;
    border-bottom:15px solid transparent;  /* left arrow slant */
    border-top:15px solid transparent; /* right arrow slant */
}
.button-left .button-inner {
    border-right:15px solid rgba(255,255,255,0.5); /* bottom, add background color here */
}
.button-right .button-inner {
    border-left:15px solid rgba(255,255,255,0.5); /* bottom, add background color here */
}
/* Navigations */
.nav-wrap {
    position: absolute;
    top: 15px;
    right: 20px;
    list-style: none inside none;
    z-index: 100;
}
.nav {
    display: inline-block;
    float: left;
    padding: 5px;
    margin: 0px 3px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    cursor: default;
    color: #ddd;
}
.nav.nav-current {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    }
.nav.nav-startstop {
    width:30px;
}
/* Timers */
.timer-wrap {
    position: relative;
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgba(200,200,200,0.5);
}
.timer-progress {
    background-color: rgba(100,100,100,0.5);
    height: 5px;
    width: 0%;
}
/* Thumbnails */
.thumbs-wrap {
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
}
.thumbs-wrap-top, .thumbs-wrap-bottom {
    width: 100%;
}
.thumbs-wrap-left, .thumbs-wrap-right {
}
.thumbs {
    display: block;
    position: relative;
    float: left;
    padding: 0px 0px;
    margin: 0px 0px;
}
.thumb {
    position: relative;
    display: block;
    float: left;
    width: 150px;
    height: 100px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #c3c4c5;
    background-color: #fff;
    overflow: hidden;

}
.thumb .thumb-data {
    width: 150px;
    height: 100px;
}
.thumb div.thumb-data {
    width: 50px;
    height: 50px;
    padding: 25px 50px;
    text-align:center;
    font-size: 25px;
    line-height: 50px;
}
.thumb img {
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}
.thumb.thumb-current img {
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
/* Custom per slideshow height/width */
#slide  {
    width: 950px;
    height: 510px;
}

/* Transformations */
/* Fade */
@keyframes fadeOut {
    from { opacity: 1; z-index: 20; }
    to { opacity: 0; z-index: 10; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* Rotate */
@keyframes rotate360 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-moz-keyframes rotate360 {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotate360 {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}
@-webkit-keyframes rotate360 {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
/* Scale */
@keyframes scaleout {
    0% { transform: scale(1); }
    100% { transform: scale(10); }
}
@-moz-keyframes scaleout {
    0% { -moz-transform: scale(1); }
    100% { -moz-transform: scale(10); }
}
@-ms-keyframes scaleout {
    0% { -ms-transform: scale(1); }
    100% { -ms-transform: scale(10); }
}
@-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(10); }
}
@keyframes scalein {
    0% { transform: scale(10); }
    100% { transform: scale(1); }
}
@-moz-keyframes scalein {
    0% { -moz-transform: scale(10); }
    100% { -moz-transform: scale(1); }
}
@-ms-keyframes scalein {
    0% { -ms-transform: scale(10); }
    100% { -ms-transform: scale(1); }
}
@-webkit-keyframes scalein {
    0% { -webkit-transform: scale(10); }
    100% { -webkit-transform: scale(1); }
}

/* Zoom In */
@keyframes zoomInPhoto{
    0% {width:100%; height:100%; opacity:1;}
    50% {width:500%; height:500%; opacity:0.5}
    100% {width:1000%; height:1000%; opacity:0;}
}

@-moz-keyframes zoomInPhoto{
    0% {width:100%; height:100%; opacity:1;}
    50% {width:500%; height:500%; opacity:0.5}
    100% {width:1000%; height:1000%; opacity:0;}
}

@-webkit-keyframes zoomInPhoto{
    0% {width:100%; height:100%; opacity:1;}
    50% {width:500%; height:500%; opacity:0.5}
    100% {width:1000%; height:1000%; opacity:0;}
}

@-o-keyframes zoomInPhoto{
    0% {width:100%; height:100%; opacity:1;}
    50% {width:500%; height:500%; opacity:0.5}
    100% {width:1000%; height:1000%; opacity:0;}
}
/* Scale */